@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');


/* Style-Guide :) */
/* 0- Root variables and root elements adjustments */
/* 1-Fonts */
/* 2-Colors classes */
/* 3-Components and style classes */
/* 3.1-DIV classes */
/* 3.2-Widgets classes */
/* 3.3-buttons classes */
/* 3.4-Style classes (especific borders, positions or animations) */
/* 4-responsiveness classes */
/* 4.1-responsiveness mobile classes */
/* 4.2-responsiveness tablet classes */
/* 4.3-responsiveness desktop classes */


/* 0- Root variables and root elements adjustments */
:root {
    --color-preto: #000000;
    --color-azul: #1820EF;
    --color-vermelho: #FF4E42;
    --color-amarelo: #FFC024;
    --cor-white: #FAFAED;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}


/* 1-Fonts */
.font-black {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.font-extrabold {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.font-bold {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-medium {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-light {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-thin {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 100;
    font-style: normal;
}



/* 3-Components and style classes */
/* 3.1-DIV classes */
.main{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.content-div{
    background-color: var(--cor-white);
}

.broth-section{
    text-align: center;
}
/* 3.2-Widgets classes */


#broth-title {
    color: var(--color-azul);
}

#broth-description {
    color: #000000;
    font-size: 14px;
}

#broth-price {
    color: var(--color-vermelho);
    font-weight: 900;
    font-size: 20px;
}

.carousel {
    width: 100%; 
    overflow: hidden; 
    position: relative;
    transition: transform 0.3s ease-in-out
}

.slides {
    display: flex;
    transition: transform 0.3s ease-in-out; 
}

.slide-out {
    flex: 0 0 100%;
    display: flex;
    justify-content: center; 
}

.slide {
    width: 65%; 
    text-align: center; 
    padding: 1rem; 
    box-shadow: 0px 4px 12px 0px #E0DBBF99;
    border-radius: 10px;
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 1rem; 
    transition: transform 0.3s ease-in-out
}

.indicator {
    cursor: pointer;
    margin: 0 0.5rem; 
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #E0DBBF;
}

.indicator.active {
    background-color: var(--color-vermelho);
    width: 36px;
    height: 12px; 
}

.slide-out.active > .slide{
    background-color: #1820EF;
}

/* 3.4-Style classes (especific borders, positions or animations) */


/* 4-responsiveness classes */
/* 4.1-responsiveness mobile classes */
@media (min-width: 320px) and (max-width: 767px) { 
    .cover{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4%;
}

    .GO-text{
        font-size: 100px;
        color: white;
}

    .cover-text{
        text-align: center;
        font-size: 16px;
        color: white;
        padding-bottom: 2%;
}

    .pattern-bg {
        height: auto; 
        background-image: url('./assets/pattern-vermelha.png');
        background-repeat: repeat;
        background-size: 300px 300px;
}

    .cover-mobile{
        width: 70%;
}

    .carousel-img{
        width: 30%;
}
}